:root {
  --ff-main: Poppins, sans-serif;
  --font-size: 1.5rem;
  --clr-main: var(--clr-pr-white-100);
  --clr-pr-white-100: hsl(0, 0%, 100%);
  --clr-pr-white-200: hsl(0, 0%, 90%);
  --clr-pr-green-100: hsl(160, 60%, 45%);
  --clr-pr-green-400: hsl(160, 70%, 40%);
  --clr-pr-green-500: hsl(160, 70%, 30%);
  --clr-pr-blue-100: hsl(202, 40%, 55%);
  --clr-pr-blue-200: hsl(202, 50%, 50%);
  --clr-pr-blue: hsl(202, 80%, 34%);
  --clr-pr-purple-pink: hsl(278, 33%, 50%);
  --clr-pr-gray: hsl(0, 0%, 46%);
  --clr-hover: hsl(118, 75%, 50%);
  --clr-bg-alpha-1: hsla(0, 0%, 100%, 0.3);
  --clr-bg-alpha-2: hsla(0, 0%, 100%, 0.15);
  --clr-glow: hsl(167, 100%, 50%);
  --clr-glow-2: #206052;
  --clr-bg-avatars-modal: hsla(177, 60%, 12%, 0.98);
  --line-thickness: 0.2rem;
  --max-width: 600px;
  --hover-scale: 1.05;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 100ms ease-in-out;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: var(--ff-main);
  color: var(--clr-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: grid;
  align-items: center;
  margin: 0.2rem 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(to right, var(--clr-pr-green-400), var(--clr-pr-blue));
}
body a,
body a:visited {
  color: inherit;
}
@media (min-width: 450px) {
  body {
    margin: 1rem 0;
  }
}

h2 {
  font-size: 0.8rem;
}
@media (min-width: 450px) {
  h2 {
    font-size: 1rem;
  }
}

.text-centered {
  text-align: center;
}

.margin-top-bottom {
  margin: 0.3rem 0;
}
@media (min-width: 450px) {
  .margin-top-bottom {
    margin: 1rem 0;
  }
}

.container {
  width: min(95%, var(--max-width));
  margin: auto;
  display: grid;
}

.logo {
  width: min(45%, 15rem);
  margin: auto;
  filter: drop-shadow(0 0 10px var(--clr-glow));
}
@media (min-width: 450px) {
  .logo {
    font-size: 1.3rem;
  }
}

.title {
  margin: auto;
  width: min(100%, 24rem);
  text-align: center;
  border: solid var(--line-thickness);
  border-radius: 3rem;
  padding: 0.5rem;
  background-color: var(--clr-bg-alpha-1);
  font-size: 1rem;
  z-index: 10;
}
@media (min-width: 450px) {
  .title {
    font-size: 1.3rem;
  }
}

.sign-in {
  width: min(100%, 400px);
  border-radius: 2rem;
  border: solid var(--line-thickness);
  padding: 0.5rem;
  text-align: center;
  margin: auto;
  background-color: var(--clr-bg-alpha-1);
}
.sign-in ::-moz-placeholder {
  color: var(--clr-pr-green-500);
  opacity: 1;
}
.sign-in :-ms-input-placeholder {
  color: var(--clr-pr-green-500);
  opacity: 1;
}
.sign-in ::placeholder {
  color: var(--clr-pr-green-500);
  opacity: 1;
}

.label {
  margin: 0.2rem 0;
  cursor: pointer;
}

.text-input, .btn {
  padding: 0.5rem;
  border-radius: 50vh;
  border: none;
  text-align: center;
  width: 100%;
  font-weight: 800;
  color: var(--clr-pr-green-500);
}

.btn {
  font-family: var(--ff-main);
  font-weight: bold;
  min-width: 10rem;
  text-transform: uppercase;
}

.btn:hover,
.btn:focus {
  background-color: var(--clr-hover);
  cursor: pointer;
  transform: translateY(-2px);
}

.choose-img:hover,
.choose-img:focus {
  transform: scale(var(--hover-scale));
  cursor: pointer;
}

.avatar {
  border: solid var(--line-thickness);
  border-radius: 100vh;
  padding: 0.5rem;
  width: 8rem;
  background-color: var(--clr-bg-alpha-1);
}

.avatar-small {
  width: 3rem;
}

.avatar:hover,
.avatar:focus {
  transform: scale(var(--hover-scale));
  border-color: var(--clr-hover);
  cursor: pointer;
}

.avatar-name {
  text-align: center;
  margin-top: 0.5rem;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
}

.avatar-wrapper {
  display: grid;
  justify-items: center;
}

.avatars {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
@media (min-width: 420px) {
  .avatars {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 542px) {
  .avatars {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 750px) {
  .avatars {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1000px) {
  .avatars {
    grid-template-columns: repeat(6, 1fr);
  }
}

.avatars-modal {
  background-color: var(--clr-bg-avatars-modal);
  position: absolute;
  top: 0px;
  z-index: 10;
  justify-self: center;
  padding: 0 3rem;
  width: 100vw;
}
.avatars-modal h1 {
  font-size: 1.2rem;
}
@media (min-width: 420px) {
  .avatars-modal h1 {
    font-size: 1.99rem;
  }
}

.signed-in-user {
  font-size: 0.65rem;
  display: grid;
  grid-template-columns: 4rem 1fr auto;
  align-items: center;
  background-color: var(--clr-bg-alpha-1);
  border-radius: 3rem;
  border: solid var(--line-thickness);
  padding: 0.5rem;
  margin: 0.5rem auto;
  width: min(100%, 24rem);
}
.signed-in-user .door {
  width: 1.5rem;
  color: var(--clr-main);
  margin-left: 0.5rem;
  transform: rotate(180deg);
}
.signed-in-user .door:hover,
.signed-in-user .door:focus {
  transform: scale(var(--hover-scale)) rotate(180deg);
}
.signed-in-user .icon {
  width: 2rem;
  border: solid var(--line-thickness);
  border-radius: 100vh;
  padding: 0.5rem;
  background-color: var(--clr-bg-alpha-1);
  margin-right: 0.5rem;
  padding: 0;
}
.signed-in-user img {
  cursor: pointer;
}

.post-edit-form .top-icon, .post-wrapper .top-icon {
  border: solid 1px;
  border-radius: 10rem;
  width: 2rem;
  margin-bottom: -15px;
  margin-left: 50%;
  transform: translateX(350%);
  filter: drop-shadow(0 0 10px var(--clr-glow));
}
.post-edit-form .left, .post-wrapper .left {
  transform: translateX(-450%);
}
.post-edit-form .form, .post-wrapper .form {
  border: solid var(--line-thickness);
  border-radius: 2rem;
  background-color: var(--clr-bg-alpha-1);
  max-width: 600px;
  margin: auto;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem 1rem 1rem;
}
.post-edit-form .form .content-input, .post-wrapper .form .content-input {
  width: 100%;
  resize: vertical;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  margin: auto;
  margin-top: 0.5rem;
  font-family: var(--ff-main);
  text-align: center;
}
.post-edit-form .form button, .post-wrapper .form button {
  color: var(--clr-pr-gray);
  margin-top: 0;
}
.post-edit-form .icon, .post-wrapper .icon {
  border: solid var(--line-thickness);
  border-radius: 100vh;
  padding: 0.5rem;
  background-color: var(--clr-bg-alpha-1);
  margin-right: 0.5rem;
  padding: 0;
  width: 2rem;
}
.post-edit-form label, .post-wrapper label {
  margin-left: 2rem;
}

.spinner {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  display: grid;
  opacity: 0.85;
  background-image: linear-gradient(to right, var(--clr-pr-purple-pink), var(--clr-pr-blue));
}
.spinner img {
  -webkit-animation: spin 2.5s infinite linear;
          animation: spin 2.5s infinite linear;
  width: 30%;
  margin: auto;
  filter: drop-shadow(0 0 2rem var(--clr-main));
}
@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1440deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1440deg);
  }
}

.post-wrapper .post {
  background-color: var(--clr-bg-alpha-1);
  padding: 1rem;
  max-width: var(--max-width);
  margin: 1rem 0;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr repeat(2, 4fr);
  justify-items: center;
  border: solid var(--line-thickness);
  border-radius: 2rem;
}
.post-wrapper .post-content {
  grid-column: span 3;
  width: 100%;
  padding: 1rem;
  text-align: center;
  border: solid var(--line-thickness);
  border-radius: 1rem;
  background-color: var(--clr-bg-alpha-2);
}
.post-wrapper .post-content::before,
.post-wrapper .post-content::after {
  content: '"';
  font-size: 1.3rem;
  color: var(--clr-pr-white-200);
}
.post-wrapper .likesNcomments {
  grid-column: span 3;
  display: flex;
  gap: 1rem;
  justify-self: right;
  align-items: flex-end;
  margin-right: 1rem;
  margin-top: 0.5rem;
  font-size: 0.8rem;
}
.post-wrapper .like-btn {
  width: 2rem;
}
.post-wrapper .like-btn:hover,
.post-wrapper .like-btn:focus {
  transform: translateY(-3px);
  cursor: pointer;
}
.post-wrapper .liked, .post-wrapper .like-btn:hover,
.post-wrapper .like-btn:focus {
  filter: drop-shadow(0 0 10px var(--clr-main));
  transform: scale(1.3);
  border: solid 1px var(--clr-glow-2);
  border-radius: 5rem;
  padding: 1px;
}
.post-wrapper .comments-window {
  grid-column: span 3;
  background-color: var(--clr-bg-alpha-1);
  border-radius: 1rem;
  border: solid var(--line-thickness);
  padding: 0.5rem;
  width: 100%;
}
.post-wrapper .comments-edit-form input {
  border-radius: 1rem;
  border: none;
  padding: 0.5rem;
  width: 100%;
  text-align: center;
  margin-bottom: 0.5rem;
}
.post-wrapper .comment {
  margin: 0.2rem 0;
  border: solid 1px;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: var(--clr-pr-green-100);
  font-size: x-small;
}
@media (min-width: 600px) {
  .post-wrapper .comment {
    font-size: inherit;
  }
}
.post-wrapper .comment span {
  float: right;
}
.post-wrapper .comment img {
  width: 2rem;
  padding: 0;
  border: solid 1px;
}
.post-wrapper .up {
  transform: translateY(-65px) translateX(200%);
  width: 3rem;
}
.post-wrapper .left {
  transform: translateX(-200%);
}
.post-wrapper .avatar {
  width: 3rem;
  padding: 0.2rem;
  justify-self: right;
}
.post-wrapper .timestamp, .post-wrapper .signature {
  width: 90%;
  justify-self: center;
  text-align: center;
  font-size: x-small;
  color: var(--clr-pr-white-200);
  padding: 0.3rem;
  background-image: linear-gradient(to right, var(--clr-pr-blue-100), var(--clr-pr-green-100));
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  filter: drop-shadow(0 0 5px var(--clr-glow));
}
.post-wrapper .signature {
  display: block;
  margin: 0.5rem 0;
  color: var(--clr-main);
  padding: 0.3rem 1rem;
}

.error {
  display: grid;
  min-height: 40vh;
  justify-items: center;
  align-content: center;
}

.footer {
  font-size: small;
  margin-top: 1rem;
}/*# sourceMappingURL=App.css.map */