html,
body {
  height: 100%;
  background-image: linear-gradient(to bottom right, rgb(29, 167, 121), rgb(17, 104, 155));
}

body {
  font-family: Poppins, sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
