:root {
  --line-thickness: 0.2rem;
  --primary-green: rgb(9, 255, 0);
}

html,
body {
  /* height: 100%; */
}

body {
  font-family: Poppins, sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 1rem;
  background-image: linear-gradient(
    to right,
    rgb(29, 167, 121),
    rgb(17, 104, 155)
  );
}

.wrapper {
  max-width: 800px;
  min-height: 95vh;
  margin: auto;
  display: grid;
  align-items: center;
  align-self: center;
  align-content: center;
}

.title {
  margin: auto;
  width: max-content;
  border: solid var(--line-thickness);
  border-radius: 100vh;
  padding: 1rem;
}

.footer {
  text-align: center;
}

.sign-in {
  border-radius: 2rem;
  padding: 2rem;
  text-align: center;
  max-width: 500px;
  margin: auto;
}

.label {
  display: block;
  font-size: x-large;
  cursor: pointer;
}

.label:hover {
  transform: scale(1.05);
}

.text-input {
  padding: 0.5rem;
  border-radius: 50vh;
  border: solid 0px;
  text-align: center;
  width: 100%;
}

.btn-submit:hover {
  background-color: var(--primary-green);
  cursor: pointer;
}

.choose-img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.text-centered {
  text-align: center;
}

.margin-top-bottom {
  margin: 1rem 0;
}

.avatar {
  border: solid var(--line-thickness);
  border-radius: 100vh;
  padding: 0.5rem;
  width: 8rem;
}

.avatar:hover {
  transform: scale(1.05);
  border-color: var(--primary-green);
  cursor: pointer;
}

.avatar-name {
  text-align: center;
}

.avatar-wrapper {
  display: grid;
  justify-items: center;
}

.avatars {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.avatars-modal {
  background-color: rgba(30, 54, 53, 0.98);
  border-radius: 3rem;
  position: absolute;
  top: 0px;
  z-index: 10;
  justify-self: center;
  padding: 0 3rem;
}
