:root {
  --line-thickness: 0.2rem;
  --primary-green: rgb(9, 255, 0);
  --font-size: 1.5rem;
  --bg-alpha-1: rgba(255, 255, 255, 0.2);
}

html,
body {
  /* height: 100%; */
}

body {
  font-family: Poppins, sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 1rem 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(
    to right,
    rgb(29, 167, 121),
    rgb(17, 104, 155)
  );
}

.wrapper {
  max-width: 800px;
  min-height: 95vh;
  margin: auto;
  display: grid;
  align-items: center;
  align-self: center;
  align-content: center;
}

.logo {
  width: 15rem;
  margin: auto;
}

.title {
  margin: auto;
  width: max-content;
  border: solid var(--line-thickness);
  border-radius: 100vh;
  padding: 1rem;
  background-color: var(--bg-alpha-1);
}

.sign-in {
  border-radius: 3rem;
  border: solid var(--line-thickness);
  padding: 2rem;
  text-align: center;
  min-width: 24rem;
  margin: auto;
  background-color: var(--bg-alpha-1);
}

.label {
  margin: 1rem 0;
  cursor: pointer;
}

.text-input {
  padding: 0.5rem;
  border-radius: 50vh;
  border: none;
  text-align: center;
  width: 100%;
  font-weight: bold;
  font-size: var(--font-size);
}

.btn-login {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  margin-top: 2rem;
  font-size: var(--font-size);
  color: rgb(114, 114, 114);
}

.btn-login:hover {
  background-color: var(--primary-green);
  cursor: pointer;
  transform: translateY(-2px);
}

.choose-img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.text-centered {
  text-align: center;
}

.margin-top-bottom {
  margin: 1rem 0;
}

.avatar {
  border: solid var(--line-thickness);
  border-radius: 100vh;
  padding: 0.5rem;
  width: 8rem;
  background-color: var(--bg-alpha-1);
}

.avatar-big {
  width: 16rem;
}

.avatar:hover {
  transform: scale(1.05);
  border-color: var(--primary-green);
  cursor: pointer;
}

.avatar-name {
  text-align: center;
  margin-top: 0.5rem;
  font-weight: bold;
  font-size: 1.3rem;
  cursor: pointer;
}

.avatar-wrapper {
  display: grid;
  justify-items: center;
}

.avatars {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.avatars-modal {
  background-color: rgba(12, 48, 46, 0.98);
  border-radius: 3rem;
  position: absolute;
  top: 0px;
  z-index: 10;
  justify-self: center;
  padding: 0 3rem;
}

.footer {
  font-size: small;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
}

.feed {
  text-align: center;
}
